<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bit.web.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="com.bit.web.domain.CategoryDTO">
      <id property="categoryId" column="CATEGORY_ID"/>
      <result property="categoryName" column="CATEGORY_NAME"/>
      <result property="description" column="DESCRIPTION"/>
    </resultMap>
    <insert id="insertCategory" parameterType="com.bit.web.domain.CategoryDTO">
        insert into CATEGORIES (CATEGORIY_ID, CATEGORY_NAME, DESCRIPTION)
        values (#{categoryId},#{categoryName},#{description})
    </insert>
  
  <select id="selectCategories" resultMap="categoryMap">
    select * from CATEGORIES
  </select>

  <select id="selectCategoryByOption" resultMap="categoryMap"
                                      parameterType="com.bit.web.domain.CategoryDTO">
    select * from CATEGORIES where CATEGORY_NAME = #{categoryName}
  </select>

  <select id="selectCategoryByCategoryId" resultMap="categoryMap"
                                          parameterType="String">
    select * from Categories where CATEGORIY_ID = #{value}
  </select>

    <update id="updateCategory" parameterType="com.bit.web.domain.CategoryDTO">
        update CATEGORIES set
        CATEGORY_NAME = #{categoryName},
        DESCRIPTION = #{description}
        where CATEGORIY_ID = #{categoryId}
    </update>

    <delete id="deleteCategory" parameterType="com.bit.web.domain.CategoryDTO">
        delete from CATEGORIES where CATEGORIY_ID = #{categoryId}
    </delete>
</mapper>