<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  

<mapper namespace="com.bit.web.mapper.SupplierMapper">
<resultMap id="supplierMap" type="com.bit.web.domain.SupplierDTO">
      <id property="supplierId" column="SUPPLIER_ID"/>
      <result property="supplierName" column="SUPPLIER_NAME"/>
      <result property="contactName" column="CONTACT_NAME"/>
      <result property="address" column="ADDRESS"/>
      <result property="city" column="CITY"/>
      <result property="postalCode" column="POSTAL_CODE"/>
      <result property="country" column="COUNTRY"/>
      <result property="phone" column="PHONE"/>
  </resultMap>
    <insert id="insertSupplier" parameterType="com.bit.web.domain.SupplierDTO">
        insert into SUPPLIERS (SUPPLIER_ID, SUPPLIER_NAME, 
            CONTACT_NAME, ADDRESS, CITY, POSTAL_CODE, COUNTRY, PHONE)
        values (#{supplierId},#{supplierName},#{contactName}, #{address}, #{city}, #{postalCode}, #{country}, #{phone})
    </insert>
  
  <select id="selectfindSuppliers" resultMap="supplierMap">
    select * from SUPPLIERS
  </select>

  <select id="selectSuppliersByOption" resultMap="supplierMap"
                                      parameterType="com.bit.web.domain.SupplierDTO">
    select * from SUPPLIERS where SUPPLIER_NAME = #{contactName}
  </select>

  <select id="selectSupplierBySupplierId" resultMap="supplierMap"
                                          parameterType="String">
    select * from SUPPLIERS where SUPPLIER_ID = #{value}
  </select>

    <update id="updateSupplier" parameterType="com.bit.web.domain.SupplierDTO">
        update SUPPLIERS set
        SUPPLIER_NAME = #{supplierName},
        CONTACT_NAME = #{contactName},
        ADDRESS = #{address},
        CITY = #{city},
        POSTAL_CODE = #{postalCode},
        COUNTRY = #{country},
        PHONE = #{phone},
        where SUPPLIER_ID = #{supplierId}
    </update>

    <delete id="deleteSupplier" parameterType="com.bit.web.domain.SupplierDTO">
        delete from SUPPLIERS where SUPPLIER_ID = #{supplierId}
    </delete>
</mapper>